/* Responsiveness */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* Flexbox */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS variables */
$color-primary: #171717;
$color-text: Amber;

/* General */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #232425 ;
}

header {
  text-transform: uppercase;
  color: $color-primary;
}

.container {
  background-color: $color-primary;
  border-radius: 20px;
}

.image-container {
  display: flex;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

h2 {
  margin-top: 30px;
}

.data-item {
  margin-top: 10px;
}

button {
  background-color: $color-primary;
}
  .github-link button {
  background-color: #20b2aa;
  border: 2px solid #20b2aa;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.github-link button:hover {
  background-color: #33cc99;
  border-color: #33cc99;
}

footer {
  background-color: $color-primary;
  color: #171717;
  padding: 20px 0;
  text-align: center;
  border-radius: 20px;
}
